body.dark-bg {
    background: #0b0f1a;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.login-box {
    width: 320px;
    margin: 150px auto;
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px #0ff6;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #00e1ff;
    color: #000;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
